body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(214, 151, 151, 0.42), rgba(29, 60, 156, 0.5)), url('images/mobile-peter-walking-on-water.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header-title {
  text-align: center;
  background-color: rgba(3, 33, 112, 0.283);
  padding: 20px;
}

.center-text {
  text-align: center;
}

.color-white {
  color: #fff;
}

.border {
  border: 2px solid #fff;
  padding: 20px;
}

.center-content {
  text-align: center;
}

ol {
  list-style: decimal;
  padding: 15px;
  margin: 0;
}

li {
  margin: 10px 0;
}

/* ===========================*\
            Desktop
    *\=========================== */

@media all and (min-width: 768px) {
  /* body */
  body {
    background-image: linear-gradient(rgba(214, 151, 151, 0.42), rgba(29, 60, 156, 0.5)), url('images/peter-walking-on-water.jpg');
  }
}
