/* ===========================*\
        Reset
*\=========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(153, 170, 211, 0.5), rgba(29, 60, 156, 0.5)), url('images/mobile-peter-walking-on-water.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

/* ===========================*\
          Container
  *\=========================== */

.center-text {
  text-align: center;
}

.color-white {
  color: #fff;
}

.container {
  padding-top: 5rem;
}

.container h1 {
  padding: 2rem;
  font-size: 5rem;
  text-decoration: underline;
}

.container h3 {
  font-size: 2.5rem;
  padding: 50px;
  text-decoration: underline;
}

.container ol {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 50px;
}

.center-content {
  border: 3px solid rgba(214, 151, 151, 0.42);
  background-color: rgba(214, 151, 151, 0.42);
}

.container .center-content {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

p {
  color: white;
  font-size: 25px;
  padding: 50px;
}

.border h3 {
  border: 3px solid rgba(214, 151, 151, 0.42);
  background-color: rgba(214, 151, 151, 0.42);
}

.header-title {
  border: 3px solid rgba(214, 151, 151, 0.42);
  background-color: rgba(214, 151, 151, 0.42);
  height: 250px;
  padding-top: 50px;
  margin-top: -50px;
}

/* ===========================*\
          Desktop
  *\=========================== */

@media all and (min-width: 768px) {
  /* body */
  body {
    background-image: linear-gradient(rgba(153, 170, 211, 0.5), rgba(29, 60, 156, 0.5)), url('images/peter-walking-on-water.jpg');
  }

  /* ===========================*\
          Container
  *\=========================== */

  .container {
    animation: anna 3s;
  }

  @keyframes anna {
    from {
      transform: translateX(-300%);
    }

    to {
      transform: translateX(0);
    }
  }

  .container h1 {
    font-size: 7rem;
    padding: 7rem;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: underline;
  }

  .container h3 {
    font-size: 3rem;
    padding: 50px;
    text-decoration: underline;
  }

  .container ol {
    font-size: 2rem;
    padding: 50px;
  }

  .border h3 {
    border: 3px solid rgba(214, 151, 151, 0.42);
    background-color: rgba(214, 151, 151, 0.42);
  }

  .center-content {
    border: 3px solid rgba(214, 151, 151, 0.42);
    background-color: rgba(214, 151, 151, 0.42);
  }
}
